<div id="view">
	<div id="left" class="grid_5">
	<div id="invitation"><i>Share the url of this page by emailing it to your friends!</i></div>
		<% @url = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

		<a class="title" href="mailto:?subject=Let's workout!&body= Hi, I just joined a room on wello! <%=@url%>">Email to a friend</a>
		
		<div id="videobox">
		</div>
	</div>

	<div id="right" class="grid_5">
		<div id="list" class="panel panel-info">
			<h3>Previously created rooms</h3>

			<% @rooms.each do |room| %>
				<ul class="list-group">
					<% @time = room.created_at.to_s %>
					<% @id = room.id %>
					<li class="list-group-item"><b class="title">Name:</b> <%=room.name %><br><b class="title">Created:</b> <%=@time.slice(0..9) %></li>
				</ul>
			<% end %>
		</div>
	</div>
</div>


<script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
<script type="text/javascript">
	var apiKey = 45009462
	var sessionId = "<%= @room.sessionId %>"
	var token = "<%= @tok_token %>"

	var session;

	TB.setLogLevel(TB.DEBUG);
	//session.connect(apiKey, token);
	
	var session = TB.initSession(sessionId);
	    session.addEventListener('sessionConnected', sessionConnectedHandler);
	    session.addEventListener('streamCreated', streamCreatedHandler);
	    session.connect(apiKey, token);


	 var publisher;
	    function sessionConnectedHandler(event) {
	      publisher = TB.initPublisher(apiKey, 'videobox');
	      session.publish(publisher);

	      // Subscribe to streams that were in the session when we connected
	      subscribeToStreams(event.streams);
	    }

	    function streamCreatedHandler(event) {
	      // Subscribe to any new streams that are created
	      subscribeToStreams(event.streams);
	    }

	    function subscribeToStreams(streams) {
	      for (var i = 0; i < streams.length; i++) {
	        // So we don't subscribe to ourself
	        if (streams[i].connection.connectionId == session.connection.connectionId) {
	          return;
	        }

	        // Div to put the subscriber element in to
	        var div = document.createElement('div');
	        div.setAttribute('id', 'stream' + streams[i].streamId);
	        document.body.appendChild(div);

	        // Subscribe to the stream
	        session.subscribe(streams[i], div.id);
	      }
	    }
</script>
